



#background {
  background-image: url("../images/giphy.gif");
  background-size: cover;
  width: 1000px;
  height: 800px;
  position: relative;
  margin: 0 auto;
}

.wall {
  height: 800px;
  width: 600px;
  background-color: transparent;
  position: relative;
  border-left: 2px solid white;
  border-right: 2px solid white;
  margin: 0 auto;
}

.spaceship {
  height: 90px;
  width: 90px;
  opacity: 1;
  position: relative;
}

#ship1 {
  background-image: url("../images/nave1.png");
  background-size: cover;
}

#ship2 {
  top: 620px;
  background-image: url("../images/nave2.png");
  background-size: cover;
}

.bulletS1 {
  width: 80px;
  height: 80px;
  position: absolute;
  background-image: url("../images/bulletelectric.gif");
  background-size: cover;
  border: none;
}

.bulletS2 {
  width: 80px;
  height: 80px;
  position: absolute;
  background-image: url("../images/bulletfire.gif");
  background-size: cover;
  border: none;
}

.lifenav1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 160px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top: 40px;
  left: 10px;
  position: absolute;
}

.lifenav2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 160px;
  height: 20px;
  padding: 5px;
  background: #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  top: 40px;
  right: 10px;
  position:absolute;
}

.bar {
  background: #c54;
  width: 100%;
  height: 10px;
  position: relative;
}

.bar1 {
  background: #c54;
  width: 100%;
  height: 10px;
  position: relative;
}

.name{
  padding: 10px;
  text-align: center;
  width: 160px;
  height: 20px;
  font-family: arial;
  position: absolute;
  top: 0;
  color: white;
  font-family: "Press Start 2P";
}

.name1{
  padding: 10px;
  text-align: center;
  width: 160px;
  height: 20px;
  font-family: arial;
  position: absolute;
  top: 0;
  color: white;
  right: 0;
  font-family: "Press Start 2P";
}

.asteroid{
  width: 100px;
  height: 100px;
  background-image: url("../images/asteroid-icon.png");
  opacity: 1;
  background-size: cover;
}
