#board {
  background-image: url("https://media.giphy.com/media/11RhzdEiCh6Wek/giphy.gif");
  background-size: cover;
  width: 800px;
  height: 800px;
  position: relative;
  margin: 0 auto;

}

.wall {
  height: 800px;
  width: 600px;
  background-color: white;;
  position: relative;
  border-left: 2px solid white ;
  border-right: 2px solid white;
  opacity: 0.4;
  margin: 0 auto;

}

.ship {
  height: 90px;
  width: 90px;
  position: relative;
  transform: rotate(0deg);
}



#ship1{
  background-image: url("images/nave1.png");
  background-size: cover;
  left:300px;
}

#ship2{
  left:300px;
  top: 620px;
  background-image: url("images/nave2.png");
  background-size: cover;

}
