#board {
  background-image: url("https://media.giphy.com/media/11RhzdEiCh6Wek/giphy.gif");
  background-size: cover;
  width: 800px;
  height: 800px;
  position: relative;
  margin: 0 auto;

}

.wall {
  height: 800px;
  width: 600px;
  background-color: white;;
  position: relative;
  border-left: 2px solid white ;
  border-right: 2px solid white;
  opacity: 0.4;
  margin: 0 auto;

}

.spaceship {
  height: 90px;
  width: 90px;
  position: relative;
}



#ship1{
  background-image: url("images/nave1.png");
  background-size: cover;
}

#ship2{

  top: 620px;
  background-image: url("images/nave2.png");
  background-size: cover;

}

.bullet{
  top: 50px;
  left: 50px;
  width: 300px;
  height: 300px;
  position: absolute;
  background-image: url("images/bullet.png");
  background-size: cover;
  transition: all 3s linear 0.1s;
}
